<div id="slider" class="swiper-container">
  <div class="swiper-wrapper">
    <% @estate.each do |f| %>
      <div class="swiper-slide">
      <%= attachment_image_tag f, :picture, format: 'png', class: "first-picture" %>
      </div>
    <% end %>
  </div>
    <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-pagination"></div>
</div>

  <div class="container estate-show-content">
  <div class="col-sm-12 col-md-12">
    <div class="col-sm-12 col-md-12">
      <div class="estate-left-content col-sm-12 col-md-6">
        <span class="date_time"><i class="far fa-clock"></i> <%= @estates.created_at.strftime('%Y/%m/%d') %></span>
        <label class=""><i class="fas fa-warehouse"></i> <%= @estates.type.name %></label>
        <span class=""><%= @estates.name %></span>
        <div class="under"></div><br>
        <label class=""><i class="fas fa-home"></i> 市区町村</label>
        <p class=""> <%= @estates.city.name %></p>
        <label class=""><i class="fab fa-bitcoin"></i> 価格</label>
        <p class=""> <%= @estates.price.to_s(:delimited) %>円</p>
        <label class=""><i class="fa fa-square"></i> 面積</label>
        <p class=""> <%= @estates.area %>㎡</p>


        <label class=""><i class="fas fa-comment-alt"></i> 不動産紹介</label>
        <p class=""> <%= @estates.content %></p>
      </div>



      <div class="right-content col-sm-12 col-md-6">

        <div class="estate-right-content">
        <button class="ui inverted orange button" id="farite-btn">投稿者のプロフィールを見る</button>
        <button class="ui inverted primary button" id="farite-btn">取引を始める</button>

<!-- -----favorite----- -->

        <div class="favorite-content">
        <%= render partial: "favorites/favorite", locals: {estates: @estates, estate: @estate} %>
        </div>

<!-- ------------------ -->



          <label class="sell-user"><i class="fas fa-upload"></i> 投稿者</label>
          <p class=""><%= current_user.user_name %></p>
          <label class=""><i class="fas fa-comment-dots"></i> コメント</label>
          <p class=""> <%= @estates.comment %></p>
        </div>
        <%= link_to root_path do %>
        <button class="ui basic button" id="farite-btn"><i class="fas fa-desktop"></i> トップページへ戻る</button>
        <% end %>
      </div>
    </div>
  </div>
</div>







